.centradopagina {
  margin: auto;
  width: 80%;
}

#formulario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formulario-izquierda {
  width: 50%;
}

.row {
  margin-bottom: 1.5em;
}

#nameApe {
  background-color: #f7f5f5;
  border-radius: 0.2em;
  padding: 0.5em;
  width: -moz-available;
  width: -webkit-fill-available;
}

.halfinput {
  background-color: #f7f5f5;
  border-radius: 0.2em;
  margin-right: 0.2em;
  padding: 0.5em;
  width: 18em;
}

.fila-compartida {
  display: inline-block;
}

.preguntas-flexible {
  display: flex;
  justify-content: space-between;
}

.enviarBtnEnd {
  display: flex;
  justify-content: end;
}

.error>p {
  font-style: italic;
  color: #fa2727;
  font-weight: bold;
}

.sinError {
  font-style: italic;
  color: #03bb03;
  font-weight: bold;
}

select {
  border-radius: 0.2em;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 0.5em;
}

.medidas {
  display: flex;
  justify-content: space-between;
}

.medidas img {
  height: 5em;
}

.precaucion img {
  height: 10em;
}

.hospitalcercano {
  display: flex;
  justify-content: space-between;
}

.imghospital {
  margin: 2em 0;
  width: 50%;
}

.imghospital p {
  line-height: 3;
}

.imghospital div img {
  width: 70%;
}

.imghospital iframe {
  height: 32em;
  width: 100%;
}

@media only screen and (max-width:768px) {
  .medidas {
    display: block;
  }

  #formulario {
    display: block;
  }

  .precaucion img {
    height: 7.5em;
  }

  .formulario-izquierda {
    width: 100%;
  }

  .formulario-izquierda p {
    word-break: break-all;
  }

  .hospitalcercano {
    display: block;
  }

  #nameApe {
    width: -webkit-fill-available;
    width: -moz-available;
  }

  select {
    width: -moz-available;
    width: -webkit-fill-available
  }

  .medidas {
    flex-wrap: wrap;
  }

  .imghospital {
    width: 100%;
  }

  .imghospital p {
    line-height: initial;
  }

  .imghospital iframe {
    height: auto;
    width: 100%;
  }
}