.centradopagina {
    margin: auto;
    width: 80%;
}

li {
    list-style: none;
}

.listaenfermedad {
    display: flex;
    margin: 2em 0;
}

.listaenfermedad div {
    width: 50%;
}

.listaenfermedad div img {
    border-radius: 10px;
    width: 50%;
}

.verdetalles {
    background-color: #4a4e4e;
    border-radius: 5px;
    color: #f0f0f0;
    display: inline-block;
    font-weight: 600;
    margin: 0.3em 0;
    padding: 0.3em 1em;
}

.verdetalles:hover {
    background-color: #707474;
}



@media only screen and (max-width:768px) {
    .listaenfermedad {

        flex-direction: column;
    }

    .listaenfermedad div {
        width: 100%;
    }

    .listaenfermedad div img {
        width: 100%;
    }

    .listaenfermedad div h3 {
        text-align: center;
    }
}